@use '../abstracts/mixins/import' as *;

.title {
  font-family: 'Syne', sans-serif;
  text-align: center;
  font-weight: 800;

  &--1 {
    font-size: clamp(56px, calc(40px + 6.1vw), 128px);
  }

  &--2 {
    font-size: clamp(38px, calc(21.4px + 5.18vw), 96px);
  }

  &--3 {
    font-weight: 400;
    text-align: start;
    text-transform: uppercase;
    font-size: clamp(32px, calc(32px + 1.11vw), 48px);
  }
}