@use '../abstracts/mixins/import' as *;

.title {
  font-family: 'Syne', sans-serif;
  text-align: center;
  font-weight: 800;

  &--1 {
    font-size: clamp(56px, calc(40px + 5vw), 128px);
  }

  &--2 {
    font-size: clamp(48px, calc(32px + 4vw), 96px);
  }
}