@use './abstracts/variables' as *;
@use './abstracts/mixins/import' as *;
@use './page/main.scss';
@use './fonts';
@use "./modal/modal";
@use "blocks/import" as blocks;
@use "components/import" as components;
// normalize-scss не поддерживает @use — один @import в конце (предупреждение подавлено в webpack)
@import 'normalize-scss/sass/normalize/import-now';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Neutral Face', sans-serif;
  font-weight: 400;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Syne', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4D342F;
}

main {
  flex-grow: 1;
}


p {
  margin: 0;
}

select,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;

  &[data-src] {
    opacity: 0;
    @include transition(opacity);
  }

  &.loaded {
    opacity: 1;
  }
}

.template,
.grecaptcha-badge,
.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

label, .btn {
  cursor: pointer;
  @include transition(all);
}
