// Museo Sans Cyrl
@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Golos Text 400'),
  url('../fonts/GolosText-Regular.ttf') format('truetype'),
  url('~/docs/fonts/GolosText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Golos Text 500"),
  url('../fonts/GolosText-Medium.ttf') format('truetype'),
  url('~/docs/fonts/GolosText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Golos Text';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: local("Golos Text 600"),
  url('../fonts/GolosText-SemiBold.ttf') format('truetype'),
  url('~/docs/fonts/GolosText-SemiBold.ttf') format('truetype');
}