//.about {
//  &__container {
//    width: min(1200px, 90%);
//    margin: 0 auto;
//
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//    align-items: center;
//    gap: clamp(20px, 4vw, 60px);
//
//    @include md {
//      grid-template-columns: 1fr;
//    }
//  }
//
//  &__image {
//    img {
//      width: 100%;
//      height: auto;
//      display: block;
//      border-radius: 16px;
//      object-fit: cover;
//    }
//  }
//
//  &__content {
//    display: flex;
//    flex-direction: column;
//    gap: 20px;
//  }
//
//  &__text {
//    font-size: clamp(16px, 1.2vw, 18px);
//    line-height: 1.6;
//    color: #555;
//  }
//}
