@use '../abstracts/mixins/import' as *;

.about {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(20px, 4vw, 60px);

    @include md {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image {
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__text {
    font-size: clamp(14px, 1.11vw, 18px);
    line-height: 1.6;
    color: #555;
  }
}
