.banner {
  &__content {
    position: relative;
    min-height: 75vh;
    overflow: hidden;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__date {
    display: block;
    text-align: center;
  }

  &__decor {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text-wrapper {
    z-index: 1;
    transform: translateY(-40%);
  }
}