@use '../abstracts/mixins/import' as *;

.block {
  width: 100%;
  background-color: white;
  padding: 0 0 200px;

  p {
    font-size: 14px;
    line-height: 140%;

    @include md {
      font-size: 15px;
    }

    @include lg {
      font-size: 17px;
    }
  }
}