@use '../abstracts/mixins/import' as *;

.block {
  width: 100%;
  background-color: white;
  padding: 0 0 100px;

  @include md {
    padding: 0 0 100px;
  }

  @include lg {
    padding: 0 0 200px;
  }
}