@use '../abstracts/mixins/import' as *;

.catalog {
  padding: 20px 0;

  &__item {
    $parent: &;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 15px;
    height: 163px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-top: 6px solid;
    border-top-color: rgba(249, 179, 0, 1);
    transition: all .3s;

    @include md {
      padding: 20px;
      font-size: 20px;
      height: 363px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #7a6c6c;
      opacity: .5;
      transition: all .3s;
    }

    &:nth-child(1) {
      background-image: url("~@/img/catalog/kitchen.jpg");
    }
    &:nth-child(2) {
      background-image: url("~@/img/catalog/wardrobe.jpg");
    }
    &:nth-child(3) {
      background-image: url("~@/img/catalog/hallway.jpg");
    }
    &:nth-child(4) {
      background-image: url("~@/img/catalog/closet.jpg");
    }

    &-plus {
      position: relative;
      width: 20px;
      height: 20px;
      &::before, &::after {
        content: "";
        position: absolute;
        background-color: white;
      }
      &::before {
        width: 100%;
        height: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      &::after {
        width: 2px;
        height: 100%;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      z-index: 0;
    }

    &-title {
      text-transform: uppercase;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      color: white;
    }

    &-wrapper {
      background-color: #F9B300;
      border-radius: 50%;
      padding: 7px;
      border: 1px solid transparent;
    }

    &:hover {
      border-top: 6px solid rgba(249, 179, 0, 0.5);

      #{$parent}-wrapper {
        background-color: rgba(249, 179, 0, 0.3);
        border: 1px solid white;
        transition: all .3s;
      }
    }

    &:hover::before {
      background-color: #F9B300;
    }
  }
}