@use '../abstracts/mixins/import' as *;

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;

    @include md {
        padding: 0 35px;
    }

    @include lg {
        padding: 0;
        max-width: 1200px;
    }
}