@use '../abstracts/mixins/import' as *;

.feedback {
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include md {
      grid-template-columns: repeat(3, 1fr);
    }

    &-card {
      background-color: #F5F5F5;
      border-radius: 30px;
      padding: 32px;
      max-width: 387px;
    }
  }

  &__img-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-bottom: 28px;
  }

  &__info {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  &__text {
    font-family: sans-serif;
  }
}