@use '../abstracts/mixins/import' as *;

.footer {
  background-color: #fff;
  border-top: 2px solid #4D342F80;
  padding: 90px 0;

  &__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
  }

  &__logo {
    font-family: 'Syne', sans-serif;
    font-size: 36px;
    font-weight: 800;
    color: #4D342F;
  }

  &__year {
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    color: #4D342F;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    @include transition(opacity);

    &:hover {
      opacity: 0.85;
    }

    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
    }
  }
}
