@use '../abstracts/mixins/import' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: rgba(249, 179, 0, 0.72);
  padding: 30px 75px;
  border-radius: 10%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.22);

  @include sm {
    padding: 20px 20px 35px;
  }

  &--footer {
    padding: 0;
    max-width: 320px;
    background: inherit;
    border-radius: 100%;
    box-shadow: unset;
    margin-bottom: 20px;

    @include md {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 700px;

    }
  }

  p {
    margin: 20px 0;
  }

  label:not(.content__form-checkbox-label) {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @include md {
      font-size: 14px;
    }

    @include lg {
      font-size: 15px;
    }
  }

  input:not(input[type=checkbox]){
    padding: 10px;
    border-radius: 3px;
    background: #F5F5F5;
    border: none;
    min-height: 40px;
    font-size: 13px;
  }

  input[type=checkbox] {
    margin: 0 10px 0 0;
  }



  &-checkbox-label {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 10px;
    line-height: 120%;
    color: #3E372B;

    @include md {
      font-size: 11px;
    }
  }

  label .pse-checkbox {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    min-width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #F5F5F5;
    transform: translateY(3px);
    @include transition(all);
  }

  input[type='checkbox']:checked ~ .pse-checkbox {
    background-color: #AC1D23;
  }

  input[type='checkbox']:checked ~ .pse-checkbox::after {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: 6px;
    width: 2px;
    height: 4px;
    background-color: white;
    transform: rotate(-35deg);
    opacity: 1;
  }

  input[type='checkbox']:checked ~ .pse-checkbox::before {
    background-color: white;
    content: "";
    display: block;
    height: 7px;
    left: 7.4px;
    position: absolute;
    top: 3px;
    transform: rotate(30deg);
    width: 2px;
    opacity: 1;
  }

  .content__form-checkbox-label {
    .pse-checkbox {
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 5px;
        top: 6px;
        width: 2px;
        height: 0;
        transform: rotate(-35deg);
        background-color: #BCBCBC;
        opacity: 0;
        @include transition(all);
      }

      &:before {
        content: "";
        display: block;
        height: 0;
        left: 7.4px;
        position: absolute;
        top: 3px;
        transform: rotate(30deg);
        width: 2px;
        background-color: #BCBCBC;
        opacity: 0;
        @include transition(all);
      }
    }

    &:hover {
      .pse-checkbox {
        background-color: #EAEAEA;

        &:after {
          height: 4px;
          opacity: 1;
        }

        &:before {
          height: 7px;
          opacity: 1;
        }
      }
    }
  }

  textarea {
    font-family: 'Neutral Face', sans-serif;
    padding: 20px 10px;
    width: 100%;
    height: 100px;
    background: #F5F5F5;
    border: none;
    resize: none;
    border-radius: 3px;
  }

  textarea:focus, input:focus {
    outline: none;
  }

  textarea::placeholder, input::placeholder {
    font-family: 'Neutral Face', sans-serif;
    font-size: 14px;
    color: #A5A5A5;
    @include transition(all);
  }

  input:hover::placeholder, textarea:hover::placeholder, input:focus::placeholder, textarea:focus::placeholder {
    color: #1A1A1A;
  }


}

//.error.fail-alert {
//  position: absolute;
//  bottom: -65px;
//  left: 10px;
//
//  @include md {
//    bottom: -50px;
//  }
//
//  @include lg {
//    bottom: -65px;
//  }
//}