.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ffeedb;
    padding: 0 0 15px;

    &__img-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 150px;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            filter: drop-shadow(0 0 15px rgba(128, 110, 90, 0.8)); // Эффект мягкого свечения
            mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 1%);
            -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 1%);
        }
    }

    &-title {
        width: 100%;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        cursor: pointer;

        li {
            padding: 5px 15px;
            transition: all .3s;
            border-width: 1px;
            border-style: solid;
            border-color: #ffeedb;


            &:hover {
                border-color: #F9B300;
                color: #5b0c0c;
            }

            a {
                white-space: nowrap;
            }
        }
    }
}