@use '../abstracts/variables' as *;
@use '../abstracts/mixins/import' as *;
@forward "header";
@forward "container";
@forward "form";
@forward "block";
@forward "banner";
@forward "cooperation";
@forward "feedback";
@forward "footer";
@forward "about";
@forward "steps";
@forward "text";
@forward "projects";