@use '../abstracts/mixins/import' as *;

.projects {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(20px, 15.28vw, 300px);
    margin-bottom: 50px;

    @include md {
      grid-template-columns: 1fr 3fr;
      margin-bottom: 120px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(20px, 7.36vw, 106px);
    justify-items: start;
    align-items: start;

    @include md {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 120px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      display: inline-flex;
      flex-direction: column;
      gap: 16px;
      cursor: pointer;

      &:nth-child(4) {
        @include md {
          transform: translateY(-130px);
        }
      }
    }

    &-img-wrapper {
      overflow: hidden;
      border-radius: 35px;
    }
  }
}