.reasons {
  position: relative;
  padding: 30px 0;
  color: white;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    inset: -10px;
    filter: blur(5px);
    background: url("~@/img/background.jpg") center/cover;
  }

  &__table {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 10px);
    width: 50%;
    gap: 10px;
    border-top: 1px solid #ffffff;
    padding: 10px;

    @include lg {
      flex-direction: row;
      flex: 1 1 calc(33.333% - 10px);
      width: 33%;
      min-height: 250px;
      border-top: none;
      border-right: 1px solid #ffffff;
      gap: 20px;
      padding: 20px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px solid #ffffff;
    }

    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5) {
      padding-left: 0;

      @include lg {
        padding-left: 20px;
      }
    }

    &:nth-child(3),
    &:nth-child(6) {
      @include lg {
        border-right: none;
      }
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      border-top: 1px solid #ffffff;
      padding-bottom: 0;
    }

    &:last-of-type {
      display: none;

      @include lg {
        display: flex;
      }
    }

    img {
      position: absolute;
      top: -97px;
      left: 0;
    }

    &-number {
      font-size: 40px;
      line-height: 38px;
      color: #F9B312;

      @include lg {
        font-size: 96px;
        line-height: 85px;
      }
    }

    &-title {
      margin-bottom: 18px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;

      @include lg {
        font-size: 16px;
      }
    }

    &-text {
      font-size: 14px;

      @include lg {
        font-size: 16px;
      }
    }
  }
}